<a href="https://colab.research.google.com/github/Sidneyintegris/PowerBI-DataScience/blob/master/IGTI_desafio_mod2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#importando bibliotecas
import numpy as np
import pandas as pd

In [ ]:
#caregando dataset
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv")

In [ ]:
#Questão A - 1
df.shape

(17379, 17)

In [ ]:
#Questão B - 2
df['windspeed'].mean()

0.1900976063064631

In [ ]:
#Questão C - 3 
df['temp'].mean()

0.4969871684216586

In [ ]:
#Questão D - 4
df[df.year == 0]

        datetime  rec_id  season  ...  casual  registered  total_count
0     2011-01-01       1       1  ...       3          13           16
1     2011-01-01       2       1  ...       8          32           40
2     2011-01-01       3       1  ...       5          27           32
3     2011-01-01       4       1  ...       3          10           13
4     2011-01-01       5       1  ...       0           1            1
...          ...     ...     ...  ...     ...         ...          ...
8640  2011-12-31    8641       1  ...      19          73           92
8641  2011-12-31    8642       1  ...       8          63           71
8642  2011-12-31    8643       1  ...       2          50           52
8643  2011-12-31    8644       1  ...       2          36           38
8644  2011-12-31    8645       1  ...       4          27           31

[8645 rows x 17 columns]

In [ ]:
#Questão E - 5
df[df.year == 1]

         datetime  rec_id  season  ...  casual  registered  total_count
8645   2012-01-01    8646       1  ...       5          43           48
8646   2012-01-01    8647       1  ...      15          78           93
8647   2012-01-01    8648       1  ...      16          59           75
8648   2012-01-01    8649       1  ...      11          41           52
8649   2012-01-01    8650       1  ...       0           8            8
...           ...     ...     ...  ...     ...         ...          ...
17374  2012-12-31   17375       1  ...      11         108          119
17375  2012-12-31   17376       1  ...       8          81           89
17376  2012-12-31   17377       1  ...       7          83           90
17377  2012-12-31   17378       1  ...      13          48           61
17378  2012-12-31   17379       1  ...      12          37           49

[8734 rows x 17 columns]

In [ ]:
#Questão F - 6
df[df.year == 0]['total_count'].sum()

1243103

In [ ]:
#Questão G - 7
df[df.year == 1]['total_count'].sum()

2049576

In [ ]:
#Questão H - 8
dx = df.groupby('season')['total_count'].sum()
dx.index.argmax()

3

In [ ]:
#Questão I - 9
dy = df.groupby('season')['total_count'].sum()
dy.idxmin()

1

In [ ]:
#Questão J - 10
dx = df.groupby('hour')['total_count'].sum()
dx.argmax()

17

In [ ]:
#Questão K - 11
dx = df.groupby('hour')['total_count'].sum()
dx.argmin()

4

In [ ]:
#Questão L - 12
dx = df.groupby(by='weekday').mean()['total_count']
dx.argmax()
#df.groupby('weekday')['total_count'].count().max()

4

In [ ]:
#Questão M - 13
dx = df.groupby(by='weekday').mean()['total_count']
dy.argmin()

0

In [ ]:
#Questão N - 14
df_week = df[['weekday', 'hour', 'total_count']]
df_week = df_week.loc[(df.weekday == 3)]
df_week_soma = df_week.groupby('hour').sum()
df_week_soma

max_value = df_week_soma.total_count.argmax()
max_value

17

In [ ]:
#Questão M - 15
df_week = df[['weekday', 'hour', 'total_count']]
df_week = df_week.loc[(df.weekday == 6)]
df_week_soma = df_week.groupby('hour').sum()
df_week_soma

max_value = df_week_soma.total_count.argmax()
max_value

13